<p id="notice"><%= notice %></p>

<p>
  <strong>Autor:</strong>
  <%= @comentario.autor %>
</p>

<p>
  <strong>Cuerpo:</strong>
  <%= @comentario.cuerpo %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @comentario.fecha %>
</p>



<nav class= "navbar navbar-default">
    <ul class=  "nav navbar-nav" >
<li class= "active"> <%= link_to 'Editar', edit_comentario_path(@comentario) %> </li>
<li class= "active"><%= link_to 'Regresar', @comentario.articulo %> </li>

    </ul>
</nav>