<% unless notice.blank? %>
<div class="alert alert-success" role="alert">
    <p id="notice"><%= notice %></p>
</div>
<% end %>

<h1>Listado de Articulos</h1>

<br>
<ul class= "media-list"> 
    <% @articulos.each do |articulo| %>
   <li class= "media-left"> <b> Titulo: </b> <%= articulo.Titulo %> 
   </li>
     
     <li class= "media-left"><b> Cuerpo: </b> <%= articulo.cuerpo %>
   
     </li>
     <li class= "media-left"> <b> Fecha: </b> <%= articulo.fecha %>
   
      </li>
     <li class= "media-left"> <%= link_to 'Mostrar', articulo %>  <%= link_to 'Editar', edit_articulo_path(articulo) %>  <%= link_to 'Eliminar', articulo, method: :delete, data: { confirm: '¿Estas Seguro?' } %>
  </ul>
<% end %>
<br>
<nav class= "navbar navbar-default">
    <ul class=  "nav navbar-nav" >
<li class= "active"> <%= link_to 'Nuevo Articulo', new_articulo_path %> </li>
    </ul>
</nav>


<ul class= "media-list"> 
   <li class= "media"> A. Hay muchas variaciones de los pasajes de Lorem Ipsum disponibles, pero la mayoría sufrió alteraciones en alguna
     
     <ul> 
     <li class= "media-left">AA) 12345678990 <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
   
     </li>
     <li class= "media-left">BB) 12345678990
   
     </li>
     <li class= "media-left">CC) 12345678990
   
     </li>
     <li class= "media-left">DD) 12345678990
   
     </li>
  </ul>
   
   </li>
   <li class= "media">B
   
   </li>
   <li class= "media">C
   
   </li>
   <li class= "media">D
   
   </li>
</ul>


<div class= "container" >
  
    <div clase= "row">
      <div class= "col-lg-4 col-md-6 col-sm-6 col-xs-12">
       Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. Tiene sus raices en una pieza cl´sica de la literatura del Latin, que data del año 45 antes de Cristo, haciendo que este adquiera mas de 2000 años de antiguedad. Richard McClintock, un profesor de Latin de la Universidad de Hampden-Sydney en Virginia, encontró una de las palabras más oscuras de la lengua del latín, "consecteur", en un pasaje de Lorem Ipsum, y al seguir leyendo distintos textos del latín, descubrió la fuente indudable. Lorem Ipsum viene de las secciones 1.10.32 y 1.10.33 de "de Finnibus Bonorum et Malorum" (Los Extremos del Bien y El Mal) por Cicero, escrito en el año 45 antes de Cristo. Este libro es un tratado de teoría de éticas, muy popular durante el Renacimiento. La primera linea del Lorem Ipsum, "Lorem ipsum dolor sit amet..", viene de una linea en la sección 1.10.32
      </div>
      
      <div class= "col-lg-4 col-md-6 col-sm-6 col-xs-12">
        Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. Tiene sus raices en una pieza cl´sica de la literatura del Latin, que data del año 45 antes de Cristo, haciendo que este adquiera mas de 2000 años de antiguedad. Richard McClintock, un profesor de Latin de la Universidad de Hampden-Sydney en Virginia, encontró una de las palabras más oscuras de la lengua del latín, "consecteur", en un pasaje de Lorem Ipsum, y al seguir leyendo distintos textos del latín, descubrió la fuente indudable. Lorem Ipsum viene de las secciones 1.10.32 y 1.10.33 de "de Finnibus Bonorum et Malorum" (Los Extremos del Bien y El Mal) por Cicero, escrito en el año 45 antes de Cristo. Este libro es un tratado de teoría de éticas, muy popular durante el Renacimiento. La primera linea del Lorem Ipsum, "Lorem ipsum dolor sit amet..", viene de una linea en la sección 1.10.32
      </div>
      
      <div class= "col-lg-4 col-md-6 col-sm-6 col-xs-12">
        Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. Tiene sus raices en una pieza cl´sica de la literatura del Latin, que data del año 45 antes de Cristo, haciendo que este adquiera mas de 2000 años de antiguedad. Richard McClintock, un profesor de Latin de la Universidad de Hampden-Sydney en Virginia, encontró una de las palabras más oscuras de la lengua del latín, "consecteur", en un pasaje de Lorem Ipsum, y al seguir leyendo distintos textos del latín, descubrió la fuente indudable. Lorem Ipsum viene de las secciones 1.10.32 y 1.10.33 de "de Finnibus Bonorum et Malorum" (Los Extremos del Bien y El Mal) por Cicero, escrito en el año 45 antes de Cristo. Este libro es un tratado de teoría de éticas, muy popular durante el Renacimiento. La primera linea del Lorem Ipsum, "Lorem ipsum dolor sit amet..", viene de una linea en la sección 1.10.32
        </div>
      
      <div class= "col-lg-4 col-md-6 col-sm-6 col-xs-12">
        Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. Tiene sus raices en una pieza cl´sica de la literatura del Latin, que data del año 45 antes de Cristo, haciendo que este adquiera mas de 2000 años de antiguedad. Richard McClintock, un profesor de Latin de la Universidad de Hampden-Sydney en Virginia, encontró una de las palabras más oscuras de la lengua del latín, "consecteur", en un pasaje de Lorem Ipsum, y al seguir leyendo distintos textos del latín, descubrió la fuente indudable. Lorem Ipsum viene de las secciones 1.10.32 y 1.10.33 de "de Finnibus Bonorum et Malorum" (Los Extremos del Bien y El Mal) por Cicero, escrito en el año 45 antes de Cristo. Este libro es un tratado de teoría de éticas, muy popular durante el Renacimiento. La primera linea del Lorem Ipsum, "Lorem ipsum dolor sit amet..", viene de una linea en la sección 1.10.32
      </div>
      
      
    </div>
</div>

