<% unless notice.blank? %>
<div class="alert alert-success" role="alert">
    <p id="notice"><%= notice %></p>
</div>
<% end %>
<p>
  <strong>Titulo:</strong>
  <%= @articulo.Titulo %>
</p>

<p>
  <strong>Cuerpo:</strong>
  <%= @articulo.cuerpo %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @articulo.fecha %>
</p>

<nav class= "navbar navbar-default">
    <ul class=  "nav navbar-nav" >
<li class= "active"> <%= link_to 'Editar',edit_articulo_path(@articulo) %> </li> <b>  </b>
<li class= "active"> <%= link_to 'Regresar',articulos_path %> </li> <b>  </b>
<li class= "active"> <%= link_to 'Nuevo Comentario',new_comentario_path(articulo_id: @articulo.id) %> </li>
    </ul>
</nav>


<h2 id = "tit">  Comentarios</h2>


<br>
<ul class= "media-list"> 
    <% @articulo.comentarios.each do |comentario| %>
   <li class= "media"> <b> Autor: </b> <%= comentario.autor %> 
   </li>
     
     <li class= "media-left"><b> Cuerpo: </b> <%= comentario.cuerpo %>
   
     </li>
     <li class= "media-left"> <b> Fecha: </b> <%= comentario.fecha %>
   
      </li>
     <li class= "media-left"> <%= link_to 'Mostrar', comentario %> <%= link_to 'Editar', edit_comentario_path(comentario) %> <%= link_to 'Eliminar', comentario, method: :delete, data: { confirm: '¿Estas Seguro?' } %>
   
     </li>
  </ul>
<% end %>